// primary styles 

$charcoal: #3a3a3a;
$blue: #0b02ff;
$cobalt: #0020C2;
$red: #ed2124;

$teal: #1d5271;
$darkBlue: #143e57;
$veryDarkBlue: #252b35;
$lightGrayBlue: #f8f8f8;
$lightBlueText: #a7cde3;

$white: #fff;
$green: #86b340;
$darkGreen: #198c45;
$orange: #f26522;
$orangeHover: #cd4a0c;
$grayOrange: #f8f5ee;
$darkGray: #524e4a;
$darkGrayOrange: #78726c;
$lightGray: #cccccc;
$textGray: #525252;
$borderGray: #d9d6d6;
$black: #2d2d2d;
$linkText: #c4bcb5;



