.our_team_page {

    .full_width_section {
        border: 2px solid $orange;
        padding: 20px;
        margin-bottom: 40px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        .image_wrap {
            @include span-columns(3);
            padding: 5px;
            border-left: 1px solid $lightGray;
            border-right: 1px solid $lightGray;
            border-top: 1px solid $lightGray;
            border-bottom: 4px solid $lightGray;
        }

        .text_wrap {
            @include span-columns(9);

            h3 {
                @include aleobold;
                font-size: 24px;
                color: $black;
            }

            h4 {
                @include aleobolditalic;
                color: $orange;
                margin: 10px 0;
            }
        }
    }

    .two_column_section {

        .full_row {
            margin-bottom: 30px;

            .column {
                @include span-columns(6);

                &:first-child {
                    padding-right: 5%;
                }

                &:last-child {
                    padding-left: 5%;
                }
            }
        }

        .image_wrap {
            @include span-columns(5);
            padding: 5px;
            border-left: 1px solid $lightGray;
            border-right: 1px solid $lightGray;
            border-top: 1px solid $lightGray;
            border-bottom: 4px solid $lightGray;
        }

        .text_wrap {
            @include span-columns(7);

            h3 {
                @include aleobold;
                font-size: 22px;
                color: $black;
            }

            h4 {
                @include aleobolditalic;
                color: $orange;
                margin: 10px 0;
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}